<table border="1">
    <tr>

        <th align="left">
            <app-input-error (change)="nameChange($event)"  ></app-input-error>
        </th>
        <td>Custom Material Input with Validation</td>
    </tr>
    <tr>

        <th align="left">
            Sum Insured(INR) : <mat-slider thumbLabel tickInterval="10" step="0.1" min="0" max="100"  [(ngModel)]="sumInsured"
                (change)="sumInsuredChange($event)"  [displayWith]="formatSumInsuredSliderLabel" ></mat-slider> {{sumInsured + "k INR"}}
        </th>
        <td>Material Slider with Custom Label</td>
    </tr>
    <tr>

        <th align="left">
            Age (Years) :  {{age+ "Yrs"}}
        </th>
        <td></td>
    </tr>
    <tr>

        <th align="left">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="D.O.B" [(ngModel)]="dateOfBirth" (dateChange)="calculateAge($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [(ngModel)]="dateOfBirth" ngDefaultControl ></mat-datepicker>
              </mat-form-field>
        </th>
        <td>Material Date</td>
    </tr>
    <!-- <tr>

        <th align="left"> 
            <mat-form-field appearance="fill">
                <mat-label>Occupation</mat-label>
                <mat-select  required #h (selectionChange)=occupationChange(h.value)>
                    <mat-option>--</mat-option>
                  <mat-option *ngFor="let occupation of occupations" [value]="occupation.rating">
                    {{occupation.name}}
                  </mat-option>
                </mat-select>
              
            </mat-form-field>
        </th>
        <td>Material Select Without Validation</td>
    </tr> -->
    <tr>
        <th align="left">
            <mat-form-field appearance="fill">
                <mat-label>Occupation</mat-label>
                <mat-select [formControl]="selected" [errorStateMatcher]="matcher" required #s (selectionChange)=occupationChange(s.value) [(ngModel)]="defaultOccupation">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let occupation of occupations" [value]="occupation.rating" >
                    {{occupation.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selected.hasError('required')">You must select a valid occupation</mat-error>
              </mat-form-field>
        </th>
        <td>Material Select With Validation</td>
    </tr>
    <tr >

        <th colspan="2">Monthly Premium {{monthlyPremium}}</th>
    </tr>
    <tr >

        <th colspan="2"> <button (click)="clearButton()"> Clear </button></th>
    </tr>
</table>